*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    

}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows:10% repeat(3,1fr);
    font-size: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap: 5px;
}
header,aside,section,footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: rgb(220, 144, 144);
    grid-column: 1/ span8;
}
aside{
    background-color: rgb(111, 220, 111);
    grid-row: 2/ span6;
}
section{
    background-color: rgb(128, 102, 0);
    grid-column: 2/ span7;
    height: 
}
footer{
    background-color:rgb(220, 144, 144) ;
    grid-column: 1/ span8;
}